
.projects {
  vertical-align: top;
  position: relative;
  bottom: -56px;
  margin: auto;
  border: 40px black;
  padding: 5px;
  text-align: center;
  color: red;
  font-weight: bold;
}
.history {
  vertical-align: top;
  position: relative;
  bottom: -56px;
  border: 40px black;
  margin: auto;
  padding: 5px;
  text-align: center;
  color: blue;
  font-weight: bold;
}
.text {
  vertical-align: top;
  position: relative;
  bottom: -45px;
  border: 40px black;
  margin: auto;
  padding: 5px;
  text-align: center;
  color: green;
  font-weight: bold;
}
.interests {
  vertical-align: top;
  position: relative;
  bottom: -45px;
  border: 40px black;
  margin: auto;
  padding: 5px;
  text-align: center;
  color: yellow;
  font-weight: bold;
}
.ul {
  vertical-align: top;
  position: relative;
  bottom: -45px;
  border: 40px black;
  margin: auto;
  text-align: center;
  padding: 5px;
  color: orange;
  font-weight: bold;
}
#list {
  list-style-type: none;
  vertical-align: top;
  position: relative;
  bottom: -45px;
  border: 40px black;
  margin: auto;
  text-align: center;
  padding: 5px;
}
.span {
  font-style: italic;
}
.Tyler {
  font-weight: bolder;
  color: purple;
}
